@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <p>This is header text</p>
        @RenderBody()
        <p>Copyright 2013 W3School. All rights reserved.</p>
    </body>
</html>
