@{
    
}

<!DOCTYPE html>

<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Web Pages 布局</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        @RenderPage("_header.cshtml")
        <h1>Hello Web Pages</h1>
        <p>This is a paragraph.</p>
        @RenderPage("_footer.cshtml")
    </body>
</html>
