@{
    var nowDateTime = DateTime.Now;
}

<!DOCTYPE html>

<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Web Pages Demo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <p>The time is @nowDateTime</p>
    </body>
</html>
