@{
    var filePath = "~/Web.config";
    var fileName = Server.MapPath(filePath);
}

<!DOCTYPE html>

<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>文件夹与路径</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <p>@fileName</p>
    </body>
</html>
